/ClaimableFaction.class
/EndPortalFaction.class
/Faction.class
/GlowstoneMountainFaction.class
/PlayerFaction.class
/RoadFaction$EastRoadFaction.class
/RoadFaction$NorthRoadFaction.class
/RoadFaction$SouthRoadFaction.class
/RoadFaction$WestRoadFaction.class
/RoadFaction.class
/SpawnFaction.class
/WarzoneFaction.class
/WildernessFaction.class
