/CobbleCommand.class
/EnderDragonCommand.class
/GiveCrowbarCommand.class
/GoppleCommand.class
/HCFHelpCommand.class
/HubCommand.class
/LocationCommand.class
/LogoutCommand.class
/PlayTimeCommand.class
/PvpTimerCommand.class
/RegenCommand.class
/ServerTimeCommand.class
/SpawnCannonCommand.class
/SpawnCommand.class
/StaffInfoCommand.class
/ToggleBroadcastsCommand.class
/ToggleCapzoneEntryCommand.class
/ToggleLightningCommand.class
/ToggleSidebarCommand.class
