/EventAddLootTableArgument.class
/EventCancelArgument.class
/EventCreateArgument.class
/EventDelLootTableArgument.class
/EventDeleteArgument.class
/EventRenameArgument.class
/EventSetAreaArgument.class
/EventSetCapzoneArgument.class
/EventSetLootArgument.class
/EventStartArgument.class
/EventUptimeArgument.class
